@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;700;900;");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #181a1b;
  color: white;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
  grid-column: span 4;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 22px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: right;
}

.top,
.top.operator {
  background-color: #ee9322;
}

button {
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f4f4f4;
  cursor: pointer;
  background-color: #008170;
  color: inherit;
  padding: 6px 15px;
  border-radius: 22px;
  transition: 0.3s ease;
}

button:hover,
button.operator:hover {
  background-color: #fff;
  color: #181a1b;
  transition: 0.5s ease;
}

button.operator {
  background-color: #d83f31;
  color: white;
}

button.clear {
  grid-column: span 1;
}

button.zero {
  grid-column: span 2;
}
